<a href="https://colab.research.google.com/github/Uralbeckins/Colab-Works/blob/main/Seminar_2_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание для самостоятельной практики

Загрузим наш датасет:

In [ ]:
!wget https://raw.githubusercontent.com/HSE-LAMBDA/MLDM-2022/main/01-intro/train.csv

In [60]:
import pandas as pd
import numpy as np
data = pd.read_csv("train.csv", index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [61]:
data.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

#### О данных
Вот некоторые из столбцов
* Name - строка с полным именем человека.
* Survived - 1, если человек выжил после кораблекрушения, 0 в противном случае.
* Pclass - класс пассажира. Pclass == 3 - дешевый, Pclass == 1 - для богачей
* Sex - пол человека.
* Age - возраст в годах, если доступен
* SibSp - количество братьев и сестер на корабле
* Parch - количество родителей на корабле
* Fare - стоимость билета
* Embarked - порт, в котором пассажир сошел на берег
* C = Шербур; Q = Куинстаун; S = Саутгемптон

## Task 1

In [19]:
# Compute survival rate for each of the three passenger classes (`Pclass` = 1, 2 and 3)
# (can you do it using groupby?)

# <YOUR CODE>

## Task 2

In [24]:
# Plot the average number of parents onboard (`Parch`) as a function of the
# number of siblings onboard (`SibSp`)

import matplotlib.pyplot as plt

                Fare  Parch  SibSp  Pclass   Age
PassengerId
1             7.2500      0      1       3  22.0
2            71.2833      0      1       1  38.0
3             7.9250      0      0       3  26.0
4            53.1000      0      1       1  35.0
5             8.0500      0      0       3  35.0
...              ...    ...    ...     ...   ...
887          13.0000      0      0       2  27.0
888          30.0000      0      0       1  19.0
889          23.4500      2      1       3   NaN
890          30.0000      0      0       1  26.0
891           7.7500      0      0       3  32.0

[891 rows x 5 columns]

## Task 3

In [74]:
# Build a model with KNeighborsClassifier to get the accuracy of
# at least 0.75 on the validation part of the dataset

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

def feature_selection_and_preprocessing(dataset):
  features = dataset[['Fare', 'Parch', 'SibSp', 'Pclass', 'Age']].copy()
  features['Fare'] /= features['Fare'].mean()
  features['Sex'] = dataset.Sex.apply(lambda x: 1 if x == 'male' else 0)
  a = np.unique(dataset.Embarked.to_list())
  values_fill = {'Age': np.mean(dataset.Age)}
  features.fillna(value=0)
  # features['Embarked'] = dataset.Embarked.apply(lambda x: np.where(a == x)[0])
  return features


feature_selection_and_preprocessing(data)
data.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [64]:
model = KNeighborsClassifier(
    # <YOUR CODE>
    # E.g.
    n_neighbors=1
)


# Validation code (do not touch)
data = pd.read_csv("train.csv", index_col='PassengerId')
data_train = data.iloc[:-100]
data_test = data.iloc[-100:]

model.fit(
    feature_selection_and_preprocessing(
        data_train.drop('Survived', axis=1)
    ),
    data_train['Survived']
)

test_predictions = model.predict(
    feature_selection_and_preprocessing(
        data_test.drop('Survived', axis=1)
    )
)
print("Test accuracy:", accuracy_score(
    data_test['Survived'],
    test_predictions
))

Test accuracy: 0.76

## Task 4

Проверьте, как работает ваша модель из предыдущего задания со случайными разбиениями на train/test (с тестовым набором размером 100). Постройте гистограмму распределения ошибок при тестировании.
*Hint: check sklearn's `sklearn.model_selection.train_test_split` function.*

In [ ]:
from sklearn.model_selection import train_test_split

# <YOUR CODE>